body {
  background-color: rgb(207, 207, 207);
  color: rgb(0, 0, 0);
  font-family: Manrope;
  padding: 0;
  margin: 0;
  align-items: center;
}

.new-session {
  background-color: rgb(240, 240, 240);
}

.new-workout-btn {
  background-color: rgb(85, 144, 223);
  color: white;
  font-size: 1.2rem;
  font-family: Manrope;
  border-radius: 10px;
  border: 2px solid transparent;
  height: 4rem;
  width: 15rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-workout-btn:hover {
  background-color: rgb(76, 128, 196);
}

nav {
  background-color: rgb(55, 54, 61);
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prev-workout-card {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 35rem;
  height: auto;
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
}

li {
  list-style-type: none;
}

.nav-btn {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-family: manrope;
  font-size: 1.2rem;
  height: 3rem;
  width: 8rem;
  transition: background-color 0.3s ease;
}

.nav-btn:hover {
  background-color: rgb(170, 170, 170);
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
  padding-right: 10px;
}

.clock-logo {
  width: 1.7rem;
  height: 1.7rem;
}

.history {
  display: flex;
  align-items: center;
  gap: 7.5px;
}

.peak-logo {
  width: 4rem;
  height: 4rem;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
}

.prev-workout-li {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  justify-content: space-between;
  width: 100%;
}

.session-name {
  font-weight: bold;
}
.session-date {
  font-size: 1rem;
}

.session-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.show-more-card {
  width: 100%;
  display: flex;
  justify-content: center;
}

.show-more-btn {
  background-color: rgb(85, 144, 223);
  color: white;
  font-size: 1.2rem;
  font-family: Manrope;
  border-radius: 10px;
  border: 2px solid transparent;
  height: 2.5rem;
  width: 13rem;
  cursor: pointer;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.show-more-btn:hover {
  background-color: rgb(76, 128, 196);
}

.notes-txt {
  font-size: 1rem;
}

.new-session {
  background-color: rgb(255, 255, 255);
  width: 35rem;
  height: auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 2px solid rgb(85, 144, 223);
}

.welcome {
  font-size: 4rem;
  color: rgb(0, 0, 0);
}

.finish-btn {
  background-color: rgb(42, 179, 42);
  font-weight: bold;
  color: white;
  border: transparent;
  width: 5rem;
  height: 1.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.finish-btn:hover {
  background-color: rgb(31, 131, 31);
}

.cancel-btn {
  background-color: red;
  font-weight: bold;
  color: white;
  border: transparent;
  width: 5rem;
  height: 1.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.cancel-btn:hover {
  background-color: rgb(173, 2, 2);
}

.add-btn {
  background-color: rgb(175, 224, 255);
  color: rgb(43, 134, 219);
  font-weight: bold;
  cursor: pointer;
  width: 5rem;
  border-radius: 5px;
  height: 1.3rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: transparent;
}

.add-btn:hover {
  color: rgb(175, 224, 255);
  background-color: rgb(43, 134, 219);
}

input {
  border-radius: 5px;
  margin-right: 5px;
  background-color: rgb(228, 228, 228);
}

.session-title {
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0;
}

.session-day {
  font-size: 1.5rem;
  margin: 0;
}

.no-exercises {
  text-align: center;
  margin-top: 2rem;
}

.form-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.finish-cancel {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  width: 20rem;
}

.exercise-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 0;
}

.list-container {
  display: flex;
  justify-content: center;
}

.add-set-btn {
  background-color: rgb(175, 224, 255);
  color: rgb(43, 134, 219);
  font-weight: bold;
  cursor: pointer;
  width: 5rem;
  border-radius: 5px;
  height: 1.3rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: transparent;
}

.add-set-btn:hover {
  color: rgb(175, 224, 255);
  background-color: rgb(43, 134, 219);
}

ul {
  padding: 0;
}

.logged-container {
  width: 30rem;
}

.logged-name {
  font-weight: bold;
}

.expand-container {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.expand-name {
  font-weight: bold;
}
