body {
  background-color: rgb(207, 207, 207);
  color: rgb(0, 0, 0);
  font-family: Manrope;
  padding: 0;
  margin: 0;
}

.new-session {
  background-color: rgb(240, 240, 240);
}

.new-workout-btn {
  background-color: rgb(85, 144, 223);
  color: white;
  font-size: 1.2rem;
  font-family: Manrope;
  border-radius: 10px;
  border: 2px solid transparent;
  height: 4rem;
  width: 15rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-workout-btn:hover {
  background-color: rgb(76, 128, 196);
}

nav {
  background-color: rgb(55, 54, 61);
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding-left: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prev-workout-card {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 35rem;
  height: 15rem;
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
}

li {
  list-style-type: none;
}

.nav-btn {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-family: manrope;
  font-size: 1.2rem;
  height: 3rem;
  width: 8rem;
  transition: background-color 0.3s ease;
}

.nav-btn:hover {
  background-color: rgb(170, 170, 170);
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
  padding-right: 10px;
}

.clock-logo {
  width: 1.7rem;
  height: 1.7rem;
}

.history {
  display: flex;
  align-items: center;
  gap: 7.5px;
}

.peak-logo {
  width: 4rem;
  height: 4rem;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
}

.prev-workout-li {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  justify-content: space-between;
  width: 100%;
}

.session-name {
  font-weight: bold;
}
.session-date {
  font-size: 1rem;
}

.session-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.show-more-card {
  width: 100%;
  display: flex;
  justify-content: center;
}

.show-more-btn {
  background-color: rgb(85, 144, 223);
  color: white;
  font-size: 1.2rem;
  font-family: Manrope;
  border-radius: 10px;
  border: 2px solid transparent;
  height: 2.5rem;
  width: 13rem;
  cursor: pointer;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.show-more-btn:hover {
  background-color: rgb(76, 128, 196);
}

.notes-txt {
  font-size: 1rem;
}
